.left-side .upper-part {
    height: 10%;
    background-color: #d5e6d6;
    padding: 10px;
    display: flex;
    align-items: center;
}

.upper-part input {
    margin-right: 6px;
}

/* Upper and lower parts of the right side */
.right-side .upper-part {
    height: 10%;
    background-color: #cfe3d2;
    padding: 10px;
}

.right-side .lower-part {
    height: 90%;
    background-color: #cfecd9;
    padding: 10px;
    overflow-y: auto;
}

.left-side .lower-part {
    height: 90%;
    background-color: #c8dfcd;
    padding: 10px;
    overflow-y: auto;
}

.card {
    /* background-color: #dac9a6; */
    margin: 0.5%;
    padding: 1%;
    border-radius: 10px;
    border-style: solid;
    border-width: 4px;

    /* width: 200px;
    height: 330px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* overflow-y: auto; */
    background-color: rgb(228, 235, 220);
}

#zoomin,
#zoomout,
#refresh,
#toggle_deck_info,
#hint {
    height: 30px;
    text-align: center;
    margin-bottom: 1%;
    margin-left: 1%;
}
#zoomin:hover,
#zoomout:hover,
#refresh:hover,
#toggle_deck_info:hover,
#hint:hover {
    border: #92c3cf 0px solid;
    border-radius: 4px;
    background-color: #92c3cf;
}
#button_export {
    background-color: #b9e2d1;
}
#button_export:hover {
    background-color: #91ba82;
}

#go_to_standard {
    height: 30px;
    text-align: center;
    margin-left: 1%;
}

#popup_hint {
    background-color: #c8dfcd;
}
