body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.left-side,
.right-side {
    display: flex;
    flex-direction: column;
}

.left-side {
    width: 85%;
}

.right-side {
    width: 15%;
}

/* Upper and lower parts of the left side */
.left-side .upper-part {
    height: 10%;
    background-color: #f5f5f5;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: #bcbcbc 1px solid;
}

.upper-part input {
    margin-right: 10px;
}

/* Upper and lower parts of the right side */
.right-side .upper-part {
    height: 10%;
    background-color: #ececec;
    padding: 10px;
    border-bottom: #bcbcbc 1px solid;
}

.right-side .lower-part {
    height: 90%;
    background-color: #ececec;
    padding: 10px;
    overflow-y: auto;
}

.left-side .lower-part {
    height: 90%;
    background-color: #f5f5f5;
    padding: 10px;
    overflow-y: auto;
}

#collections_list {
    list-style-type: none;
    padding: 0;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    flex: 1;
    overflow-y: auto;
}

.card {
    /* background-color: #dac9a6; */
    margin: 0.5%;
    padding: 1%;
    border-radius: 10px;
    border-style: solid;
    border-width: 4px;

    /* width: 200px;
    height: 330px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* overflow-y: auto; */
    background-color: rgb(240, 238, 237);
}

.card_img {
    /* width: 100%;
    height: auto; */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.ele_none {
    border-color: #ffffff;
}
.ele_water {
    border-color: #4aa9c8;
}
.ele_fire {
    border-color: #c73939;
}
.ele_air {
    border-color: #cb63ba;
}
.ele_earth {
    border-color: #624b30;
}
.ele_light {
    border-color: #e7e753;
}
.ele_dark {
    border-color: #000000;
}
.ele_unknown {
    background-color: #00f128;
}

#input_filter {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    margin-bottom: 10px;
}

#button_filter {
    width: 10%;
    height: 30px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    margin-bottom: 10px;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#button_filter:hover {
    background-color: #ffffff;
    color: #000000;
}

#zoomin,
#zoomout,
#refresh,
#toggle_deck_info,
#hint {
    height: 30px;
    width: 30px;
    text-align: center;
    margin-bottom: 1%;
    margin-left: 1%;
}
#zoomin:hover,
#zoomout:hover,
#refresh:hover,
#toggle_deck_info:hover,
#hint:hover {
    /* border: #ffa9e2 0px solid; */
    border-radius: 4px;
    background-color: #d4d4d4;
}

.card_header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* This ensures the content is aligned in the center vertically */
}

.card_name {
    /* If you need the .card_name to take up the remaining space, you can use flex-grow */
    flex-grow: 1;
}

#shader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    /* background-color: rgba(226, 215, 202, 0.95); */
    z-index: 1;
}
/* .zoom {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: auto;
    height: 95%;
    object-fit: contain;
} */
#zoom_img {
    position: fixed;
    top: 5%;
    left: 5%;
    z-index: 2;
    width: auto;
    max-width: 45%;
    height: 90%;
    object-fit: contain;
}
#zoom_text {
    position: fixed;
    top: 5%;
    left: 50%;
    z-index: 2;
    width: auto;
    max-width: 45%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    color: #ffffff;
    /* color: #000000; */
    font-size: 28px;
    overflow-y: auto;
}
.deck_header {
    border: #000000 1px solid;
    margin-top: 5px;
    text-align: center;
    font-size: large;
}
.deck_card {
    border-bottom: #000000 1px solid;
    text-align: center;
    flex-grow: 1;
}

.deck_card_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-side .upper-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#input_deck_code {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    margin-bottom: 10px;
    flex-grow: 1;
}
#button_build {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 10px;
    border-color: #000000;
    margin-bottom: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#button_build:hover {
    background-color: #747474;
    color: #ffffff;
}
#button_export {
    width: 50px;
    height: 30px;
    font-size: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    margin-bottom: 10px;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 5px;
}
#button_export:hover {
    background-color: #ffffff;
    color: #000000;
}

#popup_hint {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 60%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-height: 70%;
    background-color: #e3e3e3;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    padding: 10px;
    overflow-y: auto;
}
#popup_img {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 2;

    object-fit: contain;
}

#rules,
#updates,
#go_to_arena {
    height: 30px;
    text-align: center;
    margin-left: 1%;
}

#subscribe_link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    text-align: center;
    margin-left: 1%;
}

/* bottom plots */
/* bottom */
.lower-part {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#collections {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure collections takes the full height of its parent */
}

#deck_info {
    height: 25%;
    overflow-y: auto;
    margin-top: auto;
    position: fixed;
    width: 85%;
    bottom: 0%;
    background-color: #eeede7e8;
    display: flex;
    box-sizing: border-box;
}
#main_deck_curve,
#main_deck_components,
#ability_deck_curve {
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center horizontally */
    align-items: flex-end; /* Align to the bottom */
    height: 100%; /* Ensure each component takes the full height */
    width: 30%; /* Set the width of each component */
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

#main_deck_curve {
    flex: 0 0 33%;
}

#main_deck_components {
    flex: 0 0 33%;
}

#ability_deck_curve {
    flex: 0 0 33%;
}

canvas {
    width: 100%;
    height: auto;
}

.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* placeholders */
.inline_image {
    vertical-align: middle; /* Adjusts the vertical alignment to match the text */
}
.zoom_text_inline_image {
    width: 28px;
    height: 28px;
}
.card_information_bar_inline_image {
    width: 15px;
    height: 15px;
}
a {
    white-space: nowrap;
}
